<h2> Products List</h2>
<form>
    ID: <input type="number" name="txtID" [(ngModel)]="frmProduct.id" readonly style="width:50px;">
    Name: <input type="text" name="txtName" [(ngModel)]="frmProduct.name">
    Price: <input type="number" name="txtPrice" [(ngModel)]="frmProduct.price">
    Description: <input type="text" name="txtDesc" [(ngModel)]="frmProduct.description">
    <button type="button" (click)="save()" style= "margin-left: 10px;">Save</button>
</form>
<br>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for(product of mgProducts; track product.id){
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>
                    <button (click)="view(product)">View</button>
                    <button (click)="delete(product.id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
